<div class="bg-slate-100 p-6 rounded-xl shadow-xl border mb-16">
    <h2 class="text-2xl">{{ 'ORDER_SUMMARY' | translate }}</h2>
    <div class="flex flex-col gap-4">
        <div class="flex gap-4 mt-2">
            <span class="text-lg">{{  'TOTAL' | translate }}</span>
            <span class="text-lg font-bold">{{ total() | dynamicCurrency : currency() }}</span>
        </div>
        <app-primary-button label="{{ 'CHECKOUT' | translate }}" class="mt-4"></app-primary-button>
    </div>
</div>
