<div class="bg-white shadow-md border rounded-xl p-6 flex gap-4 items-center">
    <img [src]="item().product.image" class="w-[50px] h-[50px] object-contain">
    <div class="flex flex-col">
        <span class="text-md font-bold">{{ item().product.name }}</span>
        <div class="flex items-center gap-2 mt-2">
            <button (click)="decreaseQuantity()">-</button>
            <input type="number" [value]="item().quantity" (change)="onQuantityChange($event)" min="1" [max]="item().product.stock" class="w-12 text-center border rounded">
            <button (click)="increaseQuantity()">+</button></div>
        <span class="text-sm">{{ item().product.price | dynamicCurrency : currency() }}</span>
    </div>
    <div class="flex-1"></div>
    <app-button label="{{ 'REMOVE' | translate }}" (btnClicked)="remove.emit(index())"></app-button>
</div>
