<div class="bg-white shadow-md border rounded-xl p-6 flex gap-4 items-center">
    <img [src]="item().product.image" class="w-[50px] h-[50px] object-contain">
    <div class="flex flex-col">
        <span class="text-md font-bold">{{ item().product.name }}</span>
        <div class="flex items-center gap-2">
            <span class="text-sm text-gray-500 mt-1">{{ 'QUANTITY' | translate }}:</span>
            <button type="button" class="text-l cursor-pointer hover:text-red-500" (click)="decreaseQuantity()">-</button>
            <span class="text-sm text-gray-500 mt-1">{{ item().quantity }}</span>
            <button type="button" class="text-l cursor-pointer hover:text-lime-500" (click)="increaseQuantity()">+</button></div>
        <span class="text-sm mt-1">{{ item().product.price | dynamicCurrency:'USD' | async }}</span>
    </div>
    <div class="flex-1"></div>
    <app-button label="{{ 'REMOVE' | translate }}" (btnClicked)="remove.emit(index())"></app-button>
</div>
