<div class="bg-white shadow-md border rounded-xl p-6 flex flex-col gap-6 relative">
    <div class="mx-auto">
        <img [src]="product().image" class="w-[200px] h-[100px] object-contain">
    </div>
    <div class="flex flex-col mt-2">
        <span class="text-md font-bold">
            {{ product().name }}
        </span>
        <span class="text-sm">
            {{ product().price | dynamicCurrency:'USD' | async }}
        </span>
        <app-primary-button
            [label]="product().stock ? ('ADD_TO_CART' | translate) : ('OUT_OF_STOCK' | translate)" class="mt-3"
            [disabled]="!product().stock" (btnClicked)="product().stock && cartService.addToCart(product())">
        </app-primary-button>
        <span class="text-sm text-gray-500 mt-2">
            {{ product().short_description }}
        </span>

        <span class="absolute top-2 right-3 text-sm font-bold"
            [class]="product().stock ? 'text-green-500' : 'text-red-500'">
            @if (product().stock) {
                {{ product().stock }} {{ 'LEFT' | translate }}
            } @else {
                {{ 'OUT_OF_STOCK' | translate }}
            }
        </span>
    </div>
</div>